In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv('stat_input_df.csv')
ml_odds = pd.read_csv('ml_input.csv')
rl_odds = pd.read_csv('rl_input.csv')

In [3]:
cols = [0]
stats.drop(stats.columns[cols],axis=1,inplace=True)
ml_odds.drop(ml_odds.columns[cols],axis=1,inplace=True)
rl_odds.drop(rl_odds.columns[cols],axis=1,inplace=True)

In [4]:
stats = stats.rename(columns={"Tm": "Team"})
stats

   Team  runs_for  hits_for  W  hits_against  runs_against  E
0   ARI        20        44  2            47            35  2
1   ATL        35        53  4            52            29  2
2   BAL        25        37  2            50            36  4
3   BOS        36        68  3            67            38  6
4   CHC        38        49  4            39            33  4
5   CHW        27        53  2            51            36  1
6   CIN        37        43  2            45            33  3
7   CLE        24        50  5            42            15  3
8   COL        21        38  4            29             9  2
9   DET        28        45  4            61            39  5
10  HOU        33        49  3            48            25  3
11  KCR        31        55  3            49            31  5
12  LAA        33        54  2            56            37  2
13  LAD        37        63  5            45            17  2
14  MIA        17        27  2            24            15  3
15  MIL        24        39  3            36            28  2
16  MIN        36        45  4            46            22  1
17  NYM        27        62  3            63            36  4
18  NYY        26        35  4            32            21  3
19  OAK        21        39  3            53            24  3
20  PHI        15        24  1            27            17  1
21  PIT        23        33  2            46            30  5
22  SDP        44        56  5            55            26  4
23  SEA        36        63  3            60            51  6
24  SFG        27        58  3            69            45  8
25  STL        18        34  2            31            19  2
26  TBR        38        49  4            55            28  7
27  TEX        13        28  2            30            16  4
28  TOR        25        58  3            51            26  1
29  WSN        24        54  3            46            22  8

In [5]:
ml_odds = ml_odds.replace({'Team': {'St. Louis Cardinals':'STL',
                     'Kansas City Royals': 'KCR',
                     'Cincinnati Reds': 'CIN',
                     'Baltimore Orioles': 'BAL',
                     'Atlanta Braves': 'ATL', 
                     'Arizona Diamondbacks': 'ARI', 
                     'Texas Rangers': 'TEX',
                     'Tampa Bay Rays': 'TBR', 
                     'San Diego Padres': 'SDP', 
                     'Pittsburgh Pirates': 'PIT',
                     'Oakland Athletics': 'OAK', 
                     'New York Yankees': 'NYY', 
                     'Milwaukee Brewers': 'MIL',
                     'Miami Marlins': 'MIA', 
                     'Seattle Mariners': 'SEA', 
                     'Philadelphia Phillies': 'PHI',
                     'New York Mets': 'NYM', 
                     'Minnesota Twins': 'MIN', 
                     'Houston Astros': 'HOU',
                     'Detroit Tigers': 'DET', 
                     'Chicago Cubs': 'CHC', 
                     'Colorado Rockies': 'COL',
                     'Washington Nationals': 'WSN', 
                     'Toronto Blue Jays': 'TOR',
                     'San Francisco Giants': 'SFG', 
                     'Chicago White Sox': 'CHW', 
                     'Boston Red Sox': 'BOS',
                     'Los Angeles Dodgers': 'LAD', 
                     'Cleveland Indians': 'CLE',
                     'Los Angeles Angels': 'LAA'
                    }})

ml_odds

   Team        Date  Home   ML
0   BOS  2020-07-31     1  162
1   NYY  2020-07-31     0 -183
2   ATL  2020-07-31     1 -132
3   NYM  2020-07-31     0  117
4   CIN  2020-07-31     1 -174
5   DET  2020-07-31     0  154
6   BAL  2020-07-31     1  169
7   TBR  2020-07-31     0 -192
8   CHW  2020-07-31     1 -158
9   KCR  2020-07-31     0  141
10  COL  2020-07-31     1 -108
11  SDP  2020-07-31     0 -105
12  CLE  2020-07-31     1 -121
13  MIN  2020-07-31     0  107
14  CHC  2020-07-31     1 -240
15  PIT  2020-07-31     0  188
16  SFG  2020-07-31     1  107
17  TEX  2020-07-31     0 -121
18  HOU  2020-07-31     1 -179
19  LAA  2020-07-31     0  157
20  OAK  2020-07-31     1 -197
21  SEA  2020-07-31     0  173
22  ARI  2020-07-31     1  116
23  LAD  2020-07-31     0 -131

In [6]:
rl_odds = rl_odds.replace({'Team': {'St. Louis Cardinals':'STL',
                     'Kansas City Royals': 'KCR',
                     'Cincinnati Reds': 'CIN',
                     'Baltimore Orioles': 'BAL',
                     'Atlanta Braves': 'ATL', 
                     'Arizona Diamondbacks': 'ARI', 
                     'Texas Rangers': 'TEX',
                     'Tampa Bay Rays': 'TBR', 
                     'San Diego Padres': 'SDP', 
                     'Pittsburgh Pirates': 'PIT',
                     'Oakland Athletics': 'OAK', 
                     'New York Yankees': 'NYY', 
                     'Milwaukee Brewers': 'MIL',
                     'Miami Marlins': 'MIA', 
                     'Seattle Mariners': 'SEA', 
                     'Philadelphia Phillies': 'PHI',
                     'New York Mets': 'NYM', 
                     'Minnesota Twins': 'MIN', 
                     'Houston Astros': 'HOU',
                     'Detroit Tigers': 'DET', 
                     'Chicago Cubs': 'CHC', 
                     'Colorado Rockies': 'COL',
                     'Washington Nationals': 'WSN', 
                     'Toronto Blue Jays': 'TOR',
                     'San Francisco Giants': 'SFG', 
                     'Chicago White Sox': 'CHW', 
                     'Boston Red Sox': 'BOS',
                     'Los Angeles Dodgers': 'LAD', 
                     'Cleveland Indians': 'CLE',
                     'Los Angeles Angels': 'LAA'
                    }})

rl_odds

   Team        Date  Home  Run Line   RL
0   BOS  2020-07-31     1       1.5 -111
1   NYY  2020-07-31     0      -1.5 -107
2   ATL  2020-07-31     1      -1.5  139
3   NYM  2020-07-31     0       1.5 -161
4   CIN  2020-07-31     1      -1.5 -112
5   DET  2020-07-31     0       1.5 -105
6   BAL  2020-07-31     1       1.5  106
7   TBR  2020-07-31     0      -1.5 -124
8   CHW  2020-07-31     1      -1.5 -108
9   KCR  2020-07-31     0       1.5 -110
10  COL  2020-07-31     1      -1.5  133
11  SDP  2020-07-31     0       1.5 -123
12  CLE  2020-07-31     1      -1.5  131
13  MIN  2020-07-31     0       1.5 -150
14  CHC  2020-07-31     1      -1.5 -108
15  PIT  2020-07-31     0       1.5 -110
16  SFG  2020-07-31     1       1.5 -154
17  TEX  2020-07-31     0      -1.5  133
18  HOU  2020-07-31     1      -1.5 -119
19  LAA  2020-07-31     0       1.5  102
20  OAK  2020-07-31     1      -1.5 -124
21  SEA  2020-07-31     0       1.5  107
22  ARI  2020-07-31     1       1.5 -134
23  LAD  2020-07-31     0      -1.5  116

In [7]:
raw_df = pd.merge(pd.merge(ml_odds,stats,on='Team'),rl_odds,on='Team')
raw_df

,Team,Date_x,Home_x,ML,runs_for,hits_for,W,hits_against,runs_against,E,Date_y,Home_y,Run Line,RL
0,BOS,2020-07-31,1,162,36,68,3,67,38,6,2020-07-31,1,1.5,-111
1,NYY,2020-07-31,0,-183,26,35,4,32,21,3,2020-07-31,0,-1.5,-107
2,ATL,2020-07-31,1,-132,35,53,4,52,29,2,2020-07-31,1,-1.5,139
3,NYM,2020-07-31,0,117,27,62,3,63,36,4,2020-07-31,0,1.5,-161
4,CIN,2020-07-31,1,-174,37,43,2,45,33,3,2020-07-31,1,-1.5,-112
5,DET,2020-07-31,0,154,28,45,4,61,39,5,2020-07-31,0,1.5,-105
6,BAL,2020-07-31,1,169,25,37,2,50,36,4,2020-07-31,1,1.5,106
7,TBR,2020-07-31,0,-192,38,49,4,55,28,7,2020-07-31,0,-1.5,-124
8,CHW,2020-07-31,1,-158,27,53,2,51,36,1,2020-07-31,1,-1.5,-108
9,KCR,2020-07-31,0,141,31,55,3,49,31,5,2020-07-31,0,1.5,-110
10,COL,2020-07-31,1,-108,21,38,4,29,9,2,2020-07-31,1,-1.5,133
11,SDP,2020-07-31,0,-105,44,56,5,55,26,4,2020-07-31,0,1.5,-123
12,CLE,2020-07-31,1,-121,24,50,5,42,15,3,2020-07-31,1,-1.5,131
13,MIN,2020-07-31,0,107,36,45,4,46,22,1,2020-07-31,0,1.5,-150
14,CHC,2020-07-31,1,-240,38,49,4,39,33,4,2020-07-31,1,-1.5,-108
15,PIT,2020-07-31,0,188,23,33,2,46,30,5,2020-07-31,0,1.5,-110
16,SFG,2020-07-31,1,107,27,58,3,69,45,8,2020-07-31,1,1.5,-154
17,TEX,2020-07-31,0,-121,13,28,2,30,16,4,2020-07-31,0,-1.5,133
18,HOU,2020-07-31,1,-179,33,49,3,48,25,3,2020-07-31,1,-1.5,-119
19,LAA,2020-07-31,0,157,33,54,2,56,37,2,2020-07-31,0,1.5,102
20,OAK,2020-07-31,1,-197,21,39,3,53,24,3,2020-07-31,1,-1.5,-124
21,SEA,2020-07-31,0,173,36,63,3,60,51,6,2020-07-31,0,1.5,107
22,ARI,2020-07-31,1,116,20,44,2,47,35,2,2020-07-31,1,1.5,-134
23,LAD,2020-07-31,0,-131,37,63,5,45,17,2,2020-07-31,0,-1.5,116

In [8]:
raw_df.head()

,Team,Date_x,Home_x,ML,runs_for,hits_for,W,hits_against,runs_against,E,Date_y,Home_y,Run Line,RL
0,BOS,2020-07-31,1,162,36,68,3,67,38,6,2020-07-31,1,1.5,-111
1,NYY,2020-07-31,0,-183,26,35,4,32,21,3,2020-07-31,0,-1.5,-107
2,ATL,2020-07-31,1,-132,35,53,4,52,29,2,2020-07-31,1,-1.5,139
3,NYM,2020-07-31,0,117,27,62,3,63,36,4,2020-07-31,0,1.5,-161
4,CIN,2020-07-31,1,-174,37,43,2,45,33,3,2020-07-31,1,-1.5,-112

In [9]:
cols = [1,10,11,12]
raw_df.drop(raw_df.columns[cols],axis=1,inplace=True)
raw_df

,Team,Home_x,ML,runs_for,hits_for,W,hits_against,runs_against,E,RL
0,BOS,1,162,36,68,3,67,38,6,-111
1,NYY,0,-183,26,35,4,32,21,3,-107
2,ATL,1,-132,35,53,4,52,29,2,139
3,NYM,0,117,27,62,3,63,36,4,-161
4,CIN,1,-174,37,43,2,45,33,3,-112
5,DET,0,154,28,45,4,61,39,5,-105
6,BAL,1,169,25,37,2,50,36,4,106
7,TBR,0,-192,38,49,4,55,28,7,-124
8,CHW,1,-158,27,53,2,51,36,1,-108
9,KCR,0,141,31,55,3,49,31,5,-110
10,COL,1,-108,21,38,4,29,9,2,133
11,SDP,0,-105,44,56,5,55,26,4,-123
12,CLE,1,-121,24,50,5,42,15,3,131
13,MIN,0,107,36,45,4,46,22,1,-150
14,CHC,1,-240,38,49,4,39,33,4,-108
15,PIT,0,188,23,33,2,46,30,5,-110
16,SFG,1,107,27,58,3,69,45,8,-154
17,TEX,0,-121,13,28,2,30,16,4,133
18,HOU,1,-179,33,49,3,48,25,3,-119
19,LAA,0,157,33,54,2,56,37,2,102
20,OAK,1,-197,21,39,3,53,24,3,-124
21,SEA,0,173,36,63,3,60,51,6,107
22,ARI,1,116,20,44,2,47,35,2,-134
23,LAD,0,-131,37,63,5,45,17,2,116

In [11]:
raw_df = raw_df.rename(columns={"Home_x":"home", "hits_for":"season_hits_for", 
                                "hits_against":"season_hits_against", "runs_for":"season_runs_for",
              "runs_against":"season_runs_against", "E":"season_errors","ML":"ml_odds", 
              "RL":"rl_odds","W":"season_wins"})

raw_df = raw_df[["Team","home", "season_hits_for", "season_hits_against", "season_runs_for",
              "season_runs_against", "season_errors","season_wins","ml_odds","rl_odds"]]

In [12]:
raw_df

,Team,home,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,ml_odds,rl_odds
0,BOS,1,68,67,36,38,6,3,162,-111
1,NYY,0,35,32,26,21,3,4,-183,-107
2,ATL,1,53,52,35,29,2,4,-132,139
3,NYM,0,62,63,27,36,4,3,117,-161
4,CIN,1,43,45,37,33,3,2,-174,-112
5,DET,0,45,61,28,39,5,4,154,-105
6,BAL,1,37,50,25,36,4,2,169,106
7,TBR,0,49,55,38,28,7,4,-192,-124
8,CHW,1,53,51,27,36,1,2,-158,-108
9,KCR,0,55,49,31,31,5,3,141,-110
10,COL,1,38,29,21,9,2,4,-108,133
11,SDP,0,56,55,44,26,4,5,-105,-123
12,CLE,1,50,42,24,15,3,5,-121,131
13,MIN,0,45,46,36,22,1,4,107,-150
14,CHC,1,49,39,38,33,4,4,-240,-108
15,PIT,0,33,46,23,30,5,2,188,-110
16,SFG,1,58,69,27,45,8,3,107,-154
17,TEX,0,28,30,13,16,4,2,-121,133
18,HOU,1,49,48,33,25,3,3,-179,-119
19,LAA,0,54,56,33,37,2,2,157,102
20,OAK,1,39,53,21,24,3,3,-197,-124
21,SEA,0,63,60,36,51,6,3,173,107
22,ARI,1,44,47,20,35,2,2,116,-134
23,LAD,0,63,45,37,17,2,5,-131,116

In [13]:
raw_df.to_csv('raw_input.csv')