In [2]:
import pandas as pd

In [3]:
stats = pd.read_csv('stat_input_df.csv')
ml_odds = pd.read_csv('ml_input.csv')
rl_odds = pd.read_csv('rl_input.csv')

In [4]:
cols = [0]
stats.drop(stats.columns[cols],axis=1,inplace=True)
ml_odds.drop(ml_odds.columns[cols],axis=1,inplace=True)
rl_odds.drop(rl_odds.columns[cols],axis=1,inplace=True)

In [5]:
stats = stats.rename(columns={"Tm": "Team"})
stats

   Team  runs_for  hits_for  W  hits_against  runs_against  E
0   ARI        17        39  2            40            29  2
1   ATL        33        50  3            47            28  2
2   BAL        19        31  2            41            28  4
3   BOS        32        59  2            62            36  4
4   CHC        38        49  4            39            33  4
5   CHW        27        53  2            51            36  1
6   CIN        37        43  2            45            33  3
7   CLE        22        43  4            39            15  3
8   COL        21        38  4            29             9  2
9   DET        25        37  4            48            34  4
10  HOU        33        49  3            48            25  3
11  KCR        26        42  2            41            28  5
12  LAA        28        49  2            46            29  2
13  LAD        31        56  4            40            14  2
14  MIA        17        27  2            24            15  3
15  MIL        24        39  3            36            28  2
16  MIN        36        42  4            39            20  0
17  NYM        25        57  3            54            32  3
18  NYY        18        26  3            26            15  3
19  OAK        21        39  3            53            24  3
20  PHI        15        24  1            27            17  1
21  PIT        23        33  2            46            30  5
22  SDP        32        42  4            44            19  4
23  SEA        28        53  2            55            46  5
24  SFG        20        47  3            55            33  8
25  STL        18        34  2            31            19  2
26  TBR        37        44  4            52            26  7
27  TEX        13        28  2            30            16  4
28  TOR        21        47  3            38            20  1
29  WSN        18        41  2            35            18  8

In [6]:
ml_odds = ml_odds.replace({'Team': {'St. Louis Cardinals':'STL',
                     'Kansas City Royals': 'KCR',
                     'Cincinnati Reds': 'CIN',
                     'Baltimore Orioles': 'BAL',
                     'Atlanta Braves': 'ATL', 
                     'Arizona Diamondbacks': 'ARI', 
                     'Texas Rangers': 'TEX',
                     'Tampa Bay Rays': 'TBR', 
                     'San Diego Padres': 'SDP', 
                     'Pittsburgh Pirates': 'PIT',
                     'Oakland Athletics': 'OAK', 
                     'New York Yankees': 'NYY', 
                     'Milwaukee Brewers': 'MIL',
                     'Miami Marlins': 'MIA', 
                     'Seattle Mariners': 'SEA', 
                     'Philadelphia Phillies': 'PHI',
                     'New York Mets': 'NYM', 
                     'Minnesota Twins': 'MIN', 
                     'Houston Astros': 'HOU',
                     'Detroit Tigers': 'DET', 
                     'Chicago Cubs': 'CHC', 
                     'Colorado Rockies': 'COL',
                     'Washington Nationals': 'WSN', 
                     'Toronto Blue Jays': 'TOR',
                     'San Francisco Giants': 'SFG', 
                     'Chicago White Sox': 'CHW', 
                     'Boston Red Sox': 'BOS',
                     'Los Angeles Dodgers': 'LAD', 
                     'Cleveland Indians': 'CLE',
                     'Los Angeles Angels': 'LAA'
                    }})

ml_odds

   Team        Date  Home   ML
0   TOR  2020-07-30     1 -151
1   WSN  2020-07-30     0  134
2   CHC  2020-07-30     1  101
3   CIN  2020-07-30     0 -115
4   BAL  2020-07-30     1  210
5   NYY  2020-07-30     0 -244
6   CLE  2020-07-30     1  104
7   MIN  2020-07-30     0 -118
8   BOS  2020-07-30     1  136
9   NYM  2020-07-30     0 -153
10  DET  2020-07-30     1  122
11  KCR  2020-07-30     0 -136
12  ATL  2020-07-30     1 -144
13  TBR  2020-07-30     0  128
14  ARI  2020-07-30     1  140
15  LAD  2020-07-30     0 -157
16  LAA  2020-07-30     1 -197
17  SEA  2020-07-30     0  174
18  SDP  2020-07-30     1 -173
19  SFG  2020-07-30     0  154

In [7]:
rl_odds = rl_odds.replace({'Team': {'St. Louis Cardinals':'STL',
                     'Kansas City Royals': 'KCR',
                     'Cincinnati Reds': 'CIN',
                     'Baltimore Orioles': 'BAL',
                     'Atlanta Braves': 'ATL', 
                     'Arizona Diamondbacks': 'ARI', 
                     'Texas Rangers': 'TEX',
                     'Tampa Bay Rays': 'TBR', 
                     'San Diego Padres': 'SDP', 
                     'Pittsburgh Pirates': 'PIT',
                     'Oakland Athletics': 'OAK', 
                     'New York Yankees': 'NYY', 
                     'Milwaukee Brewers': 'MIL',
                     'Miami Marlins': 'MIA', 
                     'Seattle Mariners': 'SEA', 
                     'Philadelphia Phillies': 'PHI',
                     'New York Mets': 'NYM', 
                     'Minnesota Twins': 'MIN', 
                     'Houston Astros': 'HOU',
                     'Detroit Tigers': 'DET', 
                     'Chicago Cubs': 'CHC', 
                     'Colorado Rockies': 'COL',
                     'Washington Nationals': 'WSN', 
                     'Toronto Blue Jays': 'TOR',
                     'San Francisco Giants': 'SFG', 
                     'Chicago White Sox': 'CHW', 
                     'Boston Red Sox': 'BOS',
                     'Los Angeles Dodgers': 'LAD', 
                     'Cleveland Indians': 'CLE',
                     'Los Angeles Angels': 'LAA'
                    }})

rl_odds

   Team        Date  Home  Puck Line   PL
0   TOR  2020-07-30     1       -1.5  127
1   WSN  2020-07-30     0        1.5 -146
2   CHC  2020-07-30     1        1.5 -191
3   CIN  2020-07-30     0       -1.5  165
4   BAL  2020-07-30     1        1.5  138
5   NYY  2020-07-30     0       -1.5 -160
6   CLE  2020-07-30     1        1.5 -201
7   MIN  2020-07-30     0       -1.5  172
8   BOS  2020-07-30     1        1.5 -143
9   NYM  2020-07-30     0       -1.5  123
10  DET  2020-07-30     1        1.5 -128
11  KCR  2020-07-30     0       -1.5  110
12  ATL  2020-07-30     1       -1.5  138
13  TBR  2020-07-30     0        1.5 -162
14  ARI  2020-07-30     1        1.5 -116
15  LAD  2020-07-30     0       -1.5 -102
16  LAA  2020-07-30     1       -1.5 -110
17  SEA  2020-07-30     0        1.5 -107
18  SDP  2020-07-30     1       -1.5 -108
19  SFG  2020-07-30     0        1.5 -110

In [8]:
raw_df = pd.merge(pd.merge(stats,ml_odds,on='Team'),rl_odds,on='Team')
raw_df

,Team,runs_for,hits_for,W,hits_against,runs_against,E,Date_x,Home_x,ML,Date_y,Home_y,Puck Line,PL
0,ARI,17,39,2,40,29,2,2020-07-30,1,140,2020-07-30,1,1.5,-116
1,ATL,33,50,3,47,28,2,2020-07-30,1,-144,2020-07-30,1,-1.5,138
2,BAL,19,31,2,41,28,4,2020-07-30,1,210,2020-07-30,1,1.5,138
3,BOS,32,59,2,62,36,4,2020-07-30,1,136,2020-07-30,1,1.5,-143
4,CHC,38,49,4,39,33,4,2020-07-30,1,101,2020-07-30,1,1.5,-191
5,CIN,37,43,2,45,33,3,2020-07-30,0,-115,2020-07-30,0,-1.5,165
6,CLE,22,43,4,39,15,3,2020-07-30,1,104,2020-07-30,1,1.5,-201
7,DET,25,37,4,48,34,4,2020-07-30,1,122,2020-07-30,1,1.5,-128
8,KCR,26,42,2,41,28,5,2020-07-30,0,-136,2020-07-30,0,-1.5,110
9,LAA,28,49,2,46,29,2,2020-07-30,1,-197,2020-07-30,1,-1.5,-110
10,LAD,31,56,4,40,14,2,2020-07-30,0,-157,2020-07-30,0,-1.5,-102
11,MIN,36,42,4,39,20,0,2020-07-30,0,-118,2020-07-30,0,-1.5,172
12,NYM,25,57,3,54,32,3,2020-07-30,0,-153,2020-07-30,0,-1.5,123
13,NYY,18,26,3,26,15,3,2020-07-30,0,-244,2020-07-30,0,-1.5,-160
14,SDP,32,42,4,44,19,4,2020-07-30,1,-173,2020-07-30,1,-1.5,-108
15,SEA,28,53,2,55,46,5,2020-07-30,0,174,2020-07-30,0,1.5,-107
16,SFG,20,47,3,55,33,8,2020-07-30,0,154,2020-07-30,0,1.5,-110
17,TBR,37,44,4,52,26,7,2020-07-30,0,128,2020-07-30,0,1.5,-162
18,TOR,21,47,3,38,20,1,2020-07-30,1,-151,2020-07-30,1,-1.5,127
19,WSN,18,41,2,35,18,8,2020-07-30,0,134,2020-07-30,0,1.5,-146

In [9]:
raw_df.head()

,Team,runs_for,hits_for,W,hits_against,runs_against,E,Date_x,Home_x,ML,Date_y,Home_y,Puck Line,PL
0,ARI,17,39,2,40,29,2,2020-07-30,1,140,2020-07-30,1,1.5,-116
1,ATL,33,50,3,47,28,2,2020-07-30,1,-144,2020-07-30,1,-1.5,138
2,BAL,19,31,2,41,28,4,2020-07-30,1,210,2020-07-30,1,1.5,138
3,BOS,32,59,2,62,36,4,2020-07-30,1,136,2020-07-30,1,1.5,-143
4,CHC,38,49,4,39,33,4,2020-07-30,1,101,2020-07-30,1,1.5,-191

In [10]:
cols = [7,10,11]
raw_df.drop(raw_df.columns[cols],axis=1,inplace=True)
raw_df

,Team,runs_for,hits_for,W,hits_against,runs_against,E,Home_x,ML,Puck Line,PL
0,ARI,17,39,2,40,29,2,1,140,1.5,-116
1,ATL,33,50,3,47,28,2,1,-144,-1.5,138
2,BAL,19,31,2,41,28,4,1,210,1.5,138
3,BOS,32,59,2,62,36,4,1,136,1.5,-143
4,CHC,38,49,4,39,33,4,1,101,1.5,-191
5,CIN,37,43,2,45,33,3,0,-115,-1.5,165
6,CLE,22,43,4,39,15,3,1,104,1.5,-201
7,DET,25,37,4,48,34,4,1,122,1.5,-128
8,KCR,26,42,2,41,28,5,0,-136,-1.5,110
9,LAA,28,49,2,46,29,2,1,-197,-1.5,-110
10,LAD,31,56,4,40,14,2,0,-157,-1.5,-102
11,MIN,36,42,4,39,20,0,0,-118,-1.5,172
12,NYM,25,57,3,54,32,3,0,-153,-1.5,123
13,NYY,18,26,3,26,15,3,0,-244,-1.5,-160
14,SDP,32,42,4,44,19,4,1,-173,-1.5,-108
15,SEA,28,53,2,55,46,5,0,174,1.5,-107
16,SFG,20,47,3,55,33,8,0,154,1.5,-110
17,TBR,37,44,4,52,26,7,0,128,1.5,-162
18,TOR,21,47,3,38,20,1,1,-151,-1.5,127
19,WSN,18,41,2,35,18,8,0,134,1.5,-146

In [11]:
raw_df = raw_df.rename(columns={"Home_x":"home", "hits_for":"season_hits_for", 
                                "hits_against":"season_hits_against", "runs_for":"season_runs_for",
              "runs_against":"season_runs_against", "E":"season_errors","ML":"ml_odds", 
              "PL":"rl_odds","W":"season_wins"})

raw_df = raw_df[["Team","home", "season_hits_for", "season_hits_against", "season_runs_for",
              "season_runs_against", "season_errors","season_wins","ml_odds","rl_odds"]]

In [12]:
raw_df

,Team,home,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,ml_odds,rl_odds
0,ARI,1,39,40,17,29,2,2,140,-116
1,ATL,1,50,47,33,28,2,3,-144,138
2,BAL,1,31,41,19,28,4,2,210,138
3,BOS,1,59,62,32,36,4,2,136,-143
4,CHC,1,49,39,38,33,4,4,101,-191
5,CIN,0,43,45,37,33,3,2,-115,165
6,CLE,1,43,39,22,15,3,4,104,-201
7,DET,1,37,48,25,34,4,4,122,-128
8,KCR,0,42,41,26,28,5,2,-136,110
9,LAA,1,49,46,28,29,2,2,-197,-110
10,LAD,0,56,40,31,14,2,4,-157,-102
11,MIN,0,42,39,36,20,0,4,-118,172
12,NYM,0,57,54,25,32,3,3,-153,123
13,NYY,0,26,26,18,15,3,3,-244,-160
14,SDP,1,42,44,32,19,4,4,-173,-108
15,SEA,0,53,55,28,46,5,2,174,-107
16,SFG,0,47,55,20,33,8,3,154,-110
17,TBR,0,44,52,37,26,7,4,128,-162
18,TOR,1,47,38,21,20,1,3,-151,127
19,WSN,0,41,35,18,18,8,2,134,-146

In [13]:
raw_df.to_csv('raw_input.csv')